

<div class="page-title">Administration</div>

<a class="button" href="/admin/users">Utilisateurs</a>
<a class="button" href="/admin/articles">Articles</a>
<a class="button" href="/admin/news">News</a>
<a class="button" href="/admin/shareables">Partages</a>

<div class="article-content">
    
    #Tableau de bord
    
</div>

