

<div class="page-title">Administration</div>

<div class="bo_menu">
<a class="bo_menuitem selected" href="/admin">Tableau de bord</a><!--
--><a class="bo_menuitem" href="/admin/users">Utilisateurs</a><!--
--><a class="bo_menuitem" href="/admin/articles">Articles</a><!--
--><a class="bo_menuitem" href="/admin/news">News</a><!--
--><a class="bo_menuitem" href="/admin/shareables">Documents</a>
</div>

<div class="article-content">
    
    {{#each graphs}}
        <h3>{{label}}</h3>
        <canvas id="{{id}}" class="graph-canvas" width="400" height="100" data-type="{{type}}" data-labels="{{labels}}"></canvas>
    {{/each}}
    {{#if forceGraphsData}}
        <button class="button reloadGraphs">Recharger les graphs</button>
    {{/if}}
</div>

