

<div class="page-title">Administration</div>

<div class="bo_menu">
<a class="bo_menuitem selected" href="/admin">Tableau de bord</a><!--
--><a class="bo_menuitem" href="/admin/users">Utilisateurs</a><!--
--><a class="bo_menuitem" href="/admin/articles">Articles</a><!--
--><a class="bo_menuitem" href="/admin/news">News</a><!--
--><a class="bo_menuitem" href="/admin/shareables">Partages</a>
</div>

<div class="article-content">
    
    #Tableau de bord
    
</div>

