/* GENERAL */
html{
    min-height:100%;
}

body {
    background: #79C9F9 url("/images/background.png") no-repeat;
    background-position:left bottom;
/*    background-size:cover;*/
    margin:0;
}

/* HEADER */
header {
    width:100%;
    height:50px;
    background-color:black;
    box-shadow: 0 3px 2px #666;
}

header .top-logo{
    width:75px;
    height:50px;
    background-image: url("/images/logo.png");
    display:inline-block;
    vertical-align: top;
}
header .top-name{
    text-decoration: none;
    color:aliceblue;
    font-size: 1.8em;
    font-family: "coolvetica";
    display:inline-block;
    vertical-align:top;
    padding:5px 10px;
}
header .top-name:hover{
    text-decoration: underline;
}
header nav{
    height:50px;
    display:inline-block;
    float:right;
}
header nav ul{
    margin:0;
    padding:0;
}
header nav li{
    display:inline-block;
    height:40px;
    min-width:125px;
    text-align:center;
    text-decoration: none;
    color:#fff;
    padding-top:13px;
    transition:background-color .3s;
    font-family: "coolvetica";
    vertical-align: top;
}
header nav a li:hover{
    background-color:#123131;
}
header nav li.user{
   
}
header form .search-input-text{
    border: none;
    padding:3px;
    height:20px;
    width:100px;
    transition: all .6s;
}
header form .search-input-text:focus{
    width:200px;
    box-shadow: 0 0 3px #BBB;
}
header form .search-submit{
    border:none;
    background: url("/icons/icone_loupe.png") no-repeat;
    background-size:26px 26px;
    width:26px;
    height:26px;
    cursor:pointer;
    vertical-align: top;
    margin-right:10px;
    transition: background-color .5s;
}
header form .search-submit:hover{
    background-color:dimgray;
}

/***** CONTENT *****/
.website-title{
    font-family: "coolvetica";
    font-size: 100px;
    color:aliceblue;
    text-shadow: 5px 5px #555;
}
.page-title{
    font-family: "coolvetica";
    font-size: 50px;
    color:aliceblue;
    text-shadow: 2px 2px #555;
}


.content{
    padding:15px 100px;
    
}

.section{
    padding:10px 0;
}
/* form login */
.form-login{
    width:40%;
    display:inline-block;
}
.form-login.login{
    border-right:1px solid #666;
    vertical-align: top;
    padding-right:5%;
    
}
.form-login.inscription{
    padding-left:5%;
}
form .input-text{
    border:1px solid #666;
    padding:10px 0;
    padding-left:10px;
    margin:10px 0;
    transition: all .5s;
    width:100%;
}
form .input-text:focus{
    box-shadow: 0 0 5px #222;
    border: 1px solid white;
}
form .button-valid{
    background-color:#49a291;
    border:none;
    padding: 8px 15px;
    transition: all .5s;
    cursor:pointer;
    margin-top:7px;
}
form .button-valid:hover{
    background-color: darkslategray;
}

/* TOOLS */
.article-content{
    background-color:white;
    padding:20px;
    border-radius:0px;
    box-shadow: 0 0 2px #222;
}

h1{
    font-family: "coolvetica";
    font-size: 2em;
    margin:5px;
}
/*alerts*/
.alert{
    border:1px solid #666;
    border-radius:5px;
    margin:15px 5px;
    padding:0 15px;
}
.alert h1{
    font-size:1.5em;
    margin:0;
}
.alert p{
    
}
.alert-red{
    background-color:rgba(203, 0, 0, 0.62);
}
.alert-green{
    background-color:rgba(0, 203, 70, 0.62);
}

/* FOOTER */
footer{
    color: #333;
    font-size: 0.8em;
    text-align:center;
    margin-bottom:10px;
}


/**************/
/* responsive */
/**************/

@media screen and (max-width:853px) {
    /*nav*/
    header nav{
        display:block;
        float:none;
    }
    header nav li{
        background-color:black;
        width:100%;
    }
    /* main */
    .content{
        padding:10px;
        margin-top:200px;
    }
    
    /* connect */
    .form-login{
        display: block;
        width:95%;
        min-width:200px;
    }
    .form-login.login{
        border-right:none;
        border-bottom:1px solid black;
        padding-bottom:25px;
    }
    .form-login.inscription{
        padding:0px;
    }
    /* home*/
    .logo{
        font-size:50px;
    }
    
    /* general */
    h1{
        font-size:1.5em;
    }
}


/* FONTS */

@font-face {
  font-family: coolvetica;
  src: url(/fonts/coolvetica_rg.ttf);
}

