/* GENERAL */
html{
    min-height:100%;
}

body {
    background: #79C9F9 url("/images/background.png") no-repeat;
    background-position:left bottom;
    background-repeat: repeat-x;
/*    background-size:cover;*/
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    width:100%;
    height:50px;
    background-color:black;
    box-shadow: 0 3px 2px #333;
    position:fixed;
}

header .top-logo{
    width:75px;
    height:50px;
/*    background-image: url("/images/logo.png");*/
    display:inline-block;
    vertical-align: top;
}
header .top-name{
    text-decoration: none;
    color:aliceblue;
    font-size: 1.8em;
    font-family: "coolvetica";
    display:inline-block;
    vertical-align:top;
    padding:5px 10px;
}
header .top-name:hover{
    text-decoration: underline;
}
header nav{
    height:50px;
    display:inline-block;
    float:right;
}
header nav ul{
    margin:0;
    padding:0;
}
header nav li{
    display:inline-block;
    height:40px;
    min-width:125px;
    text-align:center;
    text-decoration: none;
    color:#fff;
    padding-top:13px;
    transition:background-color .3s;
    font-family: "coolvetica";
    vertical-align: top;
}
header nav a li:hover{
    background-color:#FF7E12;/*123131*/
}
header nav li.user{
    max-width:125px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}
header form .search-input-text{
    border: none;
    padding:3px;
    height:20px;
    width:100px;
    transition: all .6s;
}
header form .search-input-text:focus{
    width:200px;
    box-shadow: 0 0 3px #BBB;
}
header form .search-submit{
    border:none;
    background: url("/icons/icone_loupe.png") no-repeat;
    background-size:26px 26px;
    width:26px;
    height:26px;
    cursor:pointer;
    vertical-align: top;
    margin-right:10px;
    transition: background-color .5s;
}
header form .search-submit:hover{
    background-color:dimgray;
}

/***** CONTENT *****/
.website-title{
    font-family: "coolvetica";
    font-size: 5em;
    color:#FF7E12;
    text-shadow: 5px 5px #555;
}
.page-title{
    font-family: "coolvetica";
    font-size: 3em;
    color:#FF7E12;
    text-shadow: 2px 2px #555;
    margin-bottom:15px;
}
.page-subtitle{
    font-family: "coolvetica";
    font-size: 1.3em;
    color:#FF7E12;
    margin-bottom:15px;
}


.content{
    padding:15px 100px;
    max-width:1200px;
    margin:auto;
    padding-top:60px;
}

.section{
    padding:10px 0;
}


/* login */
.form-login{
    width:40%;
    display:inline-block;
}
.form-login.login{
    border-right:1px solid #666;
    vertical-align: top;
    padding-right:5%;
    
}
.form-login.inscription{
    padding-left:5%;
}

/* form  */
.input-text{
    border:1px solid #666;
    padding:10px 0;
    padding-left:10px;
    margin:10px 0;
    transition: all .5s;
    width:100%;
}

.input-text:focus{
    box-shadow: 0 0 5px #222;
    border: 1px solid white;
}
.input-text.error{
    box-shadow: 0 0 5px #d80a0a;
    border: 1px solid #d80a0a;
}

.input-label{
    min-width:75px;
    display:inline-block;
    font-family: "coolvetica";
}

form textarea{
    border:1px solid #666;
    padding:10px 0;
    padding-left:10px;
    margin:10px 0;
    transition: all .5s;
    width:100%;
    resize:none;
    height:500px;
}
form textarea:focus{
    box-shadow: 0 0 5px #222;
    border: 1px solid white;
}

.profile-picture{
    width:100px;
    height:100px;
    box-shadow: 0 0  2px #666;
}
.profile-file-input{
    vertical-align: top;
    padding: 37px;
}

/* chat */
#chat-zone{
	background-color:white;
	box-shadow: 0 0 5px #222;
	padding:15px;
	height:200px;
	overflow-y: scroll;
}
#chat_form{
	
}
#chat_form input{
	height:35px;
	border:1px solid #666;
	width: 85%;
	margin-top: 5px;
	transition:all .5s 
}
#chat_form input:focus{
	border:1px solid transparent;
	box-shadow: 0 0 5px #222;
}
.chat-message{
	padding:3px; margin:3px;
}
.chat-message .chat-date{
	display:inline-block;
	min-width:70px;
}
.chat-message .chat-author{
	display:inline-block;
}
.chat-message .chat-content{
	display:inline-block;
}

/* back office */
/*menu*/
.bo_menu{
	padding:0px;margin:3px;
	box-shadow: 0 0 2px #222;
	background-color:black;
}

.bo_menuitem{
	text-decoration: none;
	color:white;
    padding: 8px 15px;
    margin:0;
	border-bottom:5px solid transparent;
    transition: all .2s;
    cursor:pointer;
    font-family: "coolvetica";
    font-size: 1.1em;
    display:inline-block;
}
.bo_menuitem.selected{
	border-bottom:5px solid #FF7E12;
}
.bo_menuitem:hover{
	border-bottom:5px solid #FF7E12;
}


/* TOOLS */
.article-content{
    background-color:white;
    padding:20px;
    border-radius:0px;
    box-shadow: 0 0 2px #222;
}

table{
    background-color:white;
}
h1{
    font-family: "coolvetica";
    font-size: 2em;
    margin:5px;
    color: black;
}
h1 i{
    width:40px;
}
.round{
    border-radius: 50%;
}
.pull-right{
    float:right;
}
pre{
    font-family: arial;
}
.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

/*data couple*/
.form-data-couple {
    width:100%;
    margin-bottom:10px;
}
.form-data-couple label{
    max-width:150px;
    width:25%;
}
.form-data-couple input, .form-data-couple .data{
    width:70%;
    border: 1px solid transparent;
    padding:10px 0;
    padding-left:10px;
    margin:10px 0;
    transition: all .5s;
    display:initial;
}
.form-data-couple input{
    border-bottom: 1px solid black;
    color:#222;
}
.form-data-couple input.modified{
    background-color:#e3e3e3;
    color:black;
}
.form-data-couple input:focus{
    box-shadow: 0 0 5px #222;
    border: 1px solid transparent;
}




/*alerts*/
.alert{
    border:1px solid #666;
    border-radius:5px;
    margin:15px 5px;
    padding:0 15px;
}
.alert h1{
    font-size:1.5em;
    margin:0;
}
.alert p{
    
}
.alert-red{
    background-color:rgba(203, 0, 0, 0.62);
}
.alert-green{
    background-color:rgba(0, 203, 70, 0.62);
}



/* lists */
.list-container {
    
}
.list-element{
    background-color: white;
    padding:10px;
    margin:25px 0;
    box-shadow: 0 0 2px #222;
}
.list-title{
    text-decoration: none;
    color:black;
    font-family: "coolvetica";
    font-size:1.8em;
    transition: all .2s;
    display:block;
}
a.list-title:hover{
    text-shadow: 2px 2px #b4b4b4;
}
.list-extract{
    box-shadow: 0 0 2px #222;
    padding:5px;
    max-height:166px;
    overflow: hidden;
}
.meta{
    display:inline-block;
    transition:all .5s;
    text-decoration: none;
    color:#3b3b3b;
    padding:2px 5px;
}
a.meta{
    color:#333;
}
a.meta:hover{
    background-color:#FF7E12;
    color:white;
    border-radius: 5px;
}
.meta.user{
    font-family: "coolvetica";
    font-size:1.1em;
}
.meta.date{
    
}

/* buttons */
.button{
    background-color:#9a9a9a;
    border:none;
    padding: 8px 15px;
    margin: 5px 0;
    transition: all .2s;
    cursor:pointer;
    margin-top:7px;
    color:black;
    text-decoration: none;
    font-family: "coolvetica";
    font-size: 1.1em;
    box-shadow: 0 0  2px #000;
    display:inline-block;
}
.button:hover{
    color: white;
    box-shadow: none;
}
.button.valid{
    background-color:#2eac50;
}
.button.add{
    background-color:#FF7E12;
}
.button.danger{
    background-color:#9f0606;
}

/* FOOTER */
footer{
    color: #333;
    font-size: 0.8em;
    text-align:center;
    margin-bottom:10px;
}


/**************/
/* responsive */
/**************/

@media screen and (max-width:853px) {
    /*nav*/
    header nav{
        display:block;
        float:none;
    }
    header nav li{
        background-color:black;
        width:100%;
    }
    header nav li.user{
        max-width:none;
        
    }
    header{
        position:relative;
    }
    /* main */
    .content{
        padding:10px;
        margin-top:200px;
    }
    
    /* connect */
    .form-login{
        display: block;
        width:95%;
        min-width:200px;
    }
    .form-login.login{
        border-right:none;
        border-bottom:1px solid black;
        padding-bottom:25px;
    }
    .form-login.inscription{
        padding:0px;
    }
    /* home*/
    .logo{
        font-size:50px;
    }
    
    /* general */
    h1{
        font-size:1.5em;
    }
}


/* FONTS */

@font-face {
  font-family: coolvetica;
  src: url(/fonts/coolvetica_rg.ttf);
}





