<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Pire to pire</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    
    <body>
        <header>
            <a href="/" class="logo">
                  
            </a><!--
         --><nav>
                <ul>
                    <a href="#"><li>Recherche</li></a><!--
                 --><a href="#"><li>Articles</li></a><!--
                 --><a href="#"><li>Partages</li></a><!--
                 --><a href="#"><li class="user">USER</li></a>
                </ul>
            </nav>
        </header>
        
        <div class="content">
            {{{body}}}
        </div>
        
        <footer>
            <ul>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
            </ul>
        </footer>
    </body>
</html>