
<div class="website-title">
    Pire to Pire</div>
    
<div class="article-content">
    
    <div class="section" id="news">
        <h1><i class="fa fa-newspaper-o"></i> Dernières news</h1>
        
    </div>
    
    <div class="section" id="articles">
        <h1><i class="fa fa-file-text-o"></i> Derniers articles</h1>
        
    </div>
    
    <div class="section" id="shared">
        <h1><i class="fa fa-share-alt"></i> Derniers partages</h1>
        
    </div>
    
    <div class="section" id="chat">
        <h1><i class="fa fa-bomb"></i> Coin trash</h1>
        <div class="chat">
            
        </div>
    </div>
    
</div>