<div class="page-title">
    Partages
</div>

{{#ifContains privileges 'shareable_post'}}
<a class="button add" href="/new/shared"><i class="fa fa-plus"></i> Importer un nouveau document</a>
{{/ifContains}}


{{#each shareables}}

    {{name}}

{{/each}}