
<div class="page-title">
    Identifiez-vous!</div>
    
<div class="article-content">
    <form method="post" action="/connect" class="form-login login" name="connection">
        <h1><i class="fa fa-user"></i> Connexion</h1>
        <input type="text" name="username" class="input-text" placeholder="Nom de compte" required>
        <br>
        <input type="password" name="password" class="input-text" placeholder="********" required>
        <br>
        <input type="submit" value="Connection" class="button valid">
    </form>
    
    <form method="post" action="/inscription" class="form-login inscription" name="inscription">
        <h1><i class="fa fa-plus"></i> Inscription</h1>
        <input type="text" name="login" class="input-text" placeholder="Nom de compte" required>
        <br>
        <input type="text" name="pseudo" class="input-text" placeholder="Pseudo (public !)" required>
        <br>
        <input type="email" name="email" class="input-text" placeholder="Email" required>
        <br>
        <input type="password" name="password" class="input-text" placeholder="********" required>
        <br>
        <input type="password" name="password2" class="input-text" placeholder="********" required>
        <br>
        <input type="submit" value="Inscription" class="button valid">
    </form>
    {{#if global.query.error}}
    <div class="alert alert-red">
        <h1>Impossible de se connecter</h1>
        <p>Veuillez vérifier votre nom de compte / mot de passe.</p>
    </div>
    {{/if}}
    
    {{#if special.accountAdded}}
    <div class="alert alert-green">
        <h1>Compte créé avec succès</h1>
        <p>Un email de confirmation vous a été envoyé. </p>
    </div>
    {{/if}}
    
    {{#if special.notSamePassword}}
    <div class="alert alert-red">
        <h1>Erreur d'inscription</h1>
        <p>Les deux mots de passe ne coincident pas. Veuillez entrer les même mots de passe.</p>
    </div>
    {{/if}}
    
    
     
</div>