
<div class="mini-logo">
    Indentifiez-vous!</div>
    
<div class="article-content">
    <form method="post" action="/connect" class="form-login" name="connection">
        <h1><i class="fa fa-user"></i> Connection</h1>
        <input type="text" name="username" class="input-text" placeholder="Nom de compte" required>
        <br>
        <input type="password" name="password" class="input-text" placeholder="********" required>
        <br>
        <input type="submit" value="Connection" class="button-valid">
    </form>
    
    <form method="post" action="/inscription" class="form-inscription" name="inscription">
        <h1><i class="fa fa-plus"></i> Inscription</h1>
        <input type="text" name="login" class="input-text" placeholder="Nom de compte" required>
        <br>
        <input type="email" name="email" class="input-text" placeholder="Email" required>
        <br>
        <input type="password" name="password" class="input-text" placeholder="********" required>
        <br>
        <input type="password" name="password2" class="input-text" placeholder="********" required>
        <br>
        <input type="submit" value="Inscription" class="button-valid">
    </form>
</div>