<div class="page-title">Messagerie</div>

<div class="bo_menu">
   <a class="bo_menuitem {{selected.options}}" href="/profile/options">Options</a><!--
--><a class="bo_menuitem {{selected.messages}}" href="/profile/messages">Messagerie</a>
</div>

<div class="article-content" style="padding-bottom: 60px;">
	
</div>