<div class="page-title">
Nouvel article
</div>

<div class="article-content">

    <form method="post" action="{{apiAdd}}">
        <label>Title de l'article</label>
        <input type="text" name="name" placeholder="Un nom cool" class="input-text list-title" required>
        
        <label>Article</label>
        <textarea name="content" wrap="soft" required></textarea>
        
        <label>Tags</label>
        <input type="text" name="tags" placeholder="jeux-videos;tortues;ninja" class="input-text"  required>
        
        <input type="submit" value="Publier" class="button add">
    </form>
</div>