<div class="page-title">
Nouvel article
</div>

<div class="article-content">

    <form method="post" action="/add/article">
        <label>Title de l'article</label>
        <input type="text" name="name" placeholder="Un nom cool" class="input-text list-title">
        <label>Article</label>
        <textarea name="content"></textarea>
        <label>Tags</label>
        <input type="text" name="tags" placeholder="jeux-videos;tortues;ninja" class="input-text">
        <input type="submit" value="Publier" class="button add">
    </form>
</div>